* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
    font-family: Georgia, serif;
	font-weight: bold;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    align-items: center;
    text-align: center;

	h1 {
		font-family: Georgia, serif;
		font-size: 4rem;
		margin-top: 5rem;
	}
	.countdown-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.big-text {
			font-size: 6rem;
			line-height: 1;
			margin: 1rem 2rem;
		}
		.countdown-el {
			text-align: center;
		}
		.countdown-el span {
			font-size: 1.3rem;
		}
	}
}
